# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
  <ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
</ol>

<table align="left">
    <tr>
        <th>Data Science Tools<th>
    </tr>
    <tr>
        <td> Rstudio <td>
    </tr>
    <tr>
        <td> Tensorflow <td>
    </tr>
    <tr>
        <td> Apache Spark <td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [23]:
mins = 200
h = mins / 60
print(h,'hours')

3.3333333333333335 hours

**Objectives:**

    This coure explains about the Tools ainly used for Data science.

<ul>
    <li>R</li>
    <li>Python</li>
    <li>Julia</li>
</ul>

## Author

Balaji